@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #fdfaf6;
  --color-secondary: #f0ebe1;
  --color-accent: #d97757;
  --color-text-main: #333333;
  --color-text-muted: #6b6b6b;
  --color-border: #e6e0d4;

  --color-dark-surface: #2b2a27;
  --color-dark-text: #f5f3ef;
}

html,
body {
  background-color: var(--color-primary);
  color: var(--color-text-main);
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Crimson Pro", serif;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
